*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html{
    /* font-size: 10px; */    /*defined bcoz of rem as 1 rem is equal to 16px by default but now it will be 10px */
    /* 10 / 16px = 0.625 */
    /* setting in percentage bcz of different screensizes */
    font-size: 62.5% ;
    overflow-x: hidden;
}

body{
    font-family: "Rubik", sans-serif;
    color: #333;
    overflow-x: hidden;
    /* font-size: 1.5rem; */
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid{
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
    
}

/* .grid:last-child{
    margin-bottom: 0;
} */

.grid:not(:last-child){
    margin-bottom: 9.6rem;

}

.grid--2-cols{
    grid-template-columns: repeat(2,1fr) ;
}

.grid--3-cols{
    grid-template-columns: repeat(3,1fr) ;
}

.grid--4-cols{
    grid-template-columns: repeat(4,1fr) ;
}

.grid--5-cols{
    grid-template-columns: repeat(5,1fr) ;
}

.grid--center-v{
    align-items: center;
}

.primary-heading,
.secondary-heading{
    letter-spacing: -0.5px;
    font-weight: 700;
    color: #333;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo{
    height: 2.4rem;
}

/* ******************************* */
/* NAVIGATION */
/* ******************************* */

.nav-list{   
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;

}

.nav-link:link,
.nav-link:visited{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;
    color: #333;
}

.nav-link:hover,
.nav-link:active{
    color: #e67e22;

}

.nav-link.nav-cta:link,
.nav-link.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    background-color: #e67e22;
    color: #fff;
}

.nav-link.nav-cta:hover,
.nav-link.nav-cta:active{
    background-color: #cf711f;

}

.btn-mobile-nav{
    background: none;
    border: none;
    cursor: pointer;

    display: none;

}

.icon-mobile-nav{
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"]{
    display: none;
}

.sticky .header{
    position: fixed;
    top: 0;
    background-color: rgba(255,255,255,0.97);
    z-index: 9999;
    width: 100%;
    height: 8rem;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0,0.03);
}

.sticky .section-hero{
    margin-top: 9.6rem;
}

/* ******************************* */
/* HERO SECTION */
/* ******************************* */

.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.2rem 0;
}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.hero-img{
    width: 100%;
}

.primary-heading{
    font-size: 4.8rem;
    line-height: 1.1;
    margin-bottom: 3.2rem;
}

.hero-description{
    font-size: 2rem;
    color: #555;
    line-height: 1.5;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.btn,
.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    border-radius: 9px;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.3s;

    cursor: pointer;
    border: none;

}

.btn-full:link, .btn-full:visited{
    background-color: #e67e22;
    color: #fff;
}

.btn-full:hover, .btn-full:active{
    background-color: #cf711f;
}

.btn-outline:link, .btn-outline:visited{
    background-color: #fff;
    color: #555;
}

.btn-outline:hover, .btn-outline:active{
    background-color: #fdf2e9;

    /* TRICK TO ADD BORDER INSIDE */
    box-shadow: inset 0 0 0 3px #fff;
}

.margin-right{
    margin-right: 1.6rem;
}

.margin--bottom{
    margin-bottom: 4.8rem !important;
}

.delivered-meals{
    display: flex;
    margin-top: 8rem ;
    align-items: center;
    gap: 1.6rem;
}

.delivered-imgs{
    display: flex;
}

.delivered-imgs img{
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 2px solid #fdf2e9;
}

.delivered-imgs img:last-child{
    margin: 0;
}

.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span{
    color: #cf711f;
    font-weight: 700;
}

/* ********************************** */
/* SECTION-FEATURED */
/* ********************************** */

.section-featured{
    padding: 4.8rem 0 3rem 0;
}

.heading-featured{
    font-size: 1.4rem;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    text-align: center;
    color: #888;
}

.logos{
    display: flex;
    justify-content: space-around;
}

.logos img{
    height: 3.2rem;
    opacity: 50%;
    filter: brightness(0);
}

/* ********************************** */
/* SECTION HOW */
/* ********************************** */

.section-how{
    padding: 9.6rem 0;
}

.step-img-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-img-box::before,
.step-img-box::after{
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);  

}

.step-img-box::before{
    width: 60%;
    background-color: #fdf2e9;
    /* of parent element to make it square */
    padding-bottom: 60%;   
    z-index: -2;
}

.step-img-box::after{
    background-color: #fae5d3;
    width: 45%;
    padding-bottom: 45%;
    z-index: -1;
}

.step-img{
    width: 35%;
}


.subheading{
    font-size: 1.6rem;
    color: #cf711f;
    font-weight: 500;
    display: block;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.secondary-heading{
    line-height: 1.2;
    font-size: 4.4rem;
    margin-bottom: 9.6rem;
}

.step-number{
    font-size: 9.8rem;
    font-weight: 600;
    color: #ddd;
}

.tertiary-heading{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;

}

.step-description{
    font-size: 1.8rem;
    line-height: 1.8;

}

/* ************************ */
/* SECTION MEALS */
/* ************************ */

.center-text{
    text-align: center;
}

.section-meals{
    padding: 9.6rem 0;
}

.meals{
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
    border-radius: 1.2rem;
    overflow: hidden;
    transition: all 0.4s;
}

.meals:hover{
    box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.06);
    transform: translateY(-2rem);
}

.meal-content{
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags{
    margin-bottom: 1.2rem; 
    display: flex;
    gap: 0.4rem;
}

.tag{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.4rem 0.8rem;
    border-radius: 2.8rem;
    color: #333;
}

.tag--vegetarian{
background-color: #51cf66;
}

.tag--vegan{
    background-color: #94d82d;
}

.tag--paleo{
    background-color: #ffd43b;
}

.meal-img{
    width: 100%;
}

.meal-title{
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3.2rem;
}

.meal-attributes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon{
    width: 2.4rem;
    height: 2.4rem;
    color: #e67e22;
}

strong{
    font-weight: 500;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list-item{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 1.8rem;
    line-height: 1.2;
}

.list-icon{
    width: 2.4rem;
    height: 2.4rem;
    color: #e67e22;
}

.all-recipes{
    /* border: 2px solid black; */
    transition: all 0.3s;
    text-align: center;
    margin-top: 4.8rem;
    font-size: 1.8rem;
    
}

.link:link,
.link:visited{
    color: #e67e22;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #e67e22;
    
}

.link:hover,
.link:active{
    border-bottom: 1px solid transparent;
    color: #cf711f;
}

/* **************************** */
/* SECTION TESTIMONIALS */
/* **************************** */

.section-testimonials{
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials-container{
    padding: 9.6rem;
}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img{
    border-radius: 50%;
    width: 6.4rem;
    margin-bottom: 1.2rem;

}

.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;

}

.testimonial-name{
    font-size: 1.6rem;
    color: #6f6f6f;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item{
    overflow: hidden;
}

.gallery-item img{
    width: 100%;
    display: block;
    transition: all 0.4s;
}

.gallery-item img:hover{
    transform: scale(1.1);
}

/* **************************** */
/* SECTION PRICING */
/* **************************** */

.section-price{
    padding: 9.6rem 0;
}

.pricing-plan{
    
    border-radius: 11px;
    width: 75%;
}

.pricing-plan--starter{
    justify-self: end;
    border: 2px solid #fdf2e9;
    padding: 4.8rem;
}

.pricing-plan--complete{
    background-color: #fdf2e9;
    padding: 4.6rem;
    position: relative;
    overflow: hidden;

}

.pricing-plan--complete::after{
    content: 'best value';
    text-transform: uppercase;
    font-size: 1.4rem;
    position: absolute;
    font-weight: 700;
    background-color: #ffd43b;
    color: #333;
    padding: 0.8rem 6rem;
    top: 6%;
    right: -13%;
    transform: rotate(45deg);
    
}

.plan-header{
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name{
    color: #cf711f;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-bottom: 3.2rem;

}

.plan-price{
    font-weight: 600;
    font-size: 6.2rem;
    color: #333;
    margin-bottom: 1.2rem;
}

.plan-price span{
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text{
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up{
    text-align: center;
    margin-top: 4.8rem;
}

.plan-details{
    font-size: 1.6rem;
    text-align: center;
}

.feature-icon{
    width: 2.4rem;
    height: 2.4rem;
    color: #e67e22;
    background-color: #fdf2e9;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    border-radius: 50%;
}

.feature-title{
    font-size: 2.4rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1.6rem;
}

.feature-text{
    font-size: 1.8rem;
    line-height: 1.8;
}

/* **************************** */
/* SECTION CTA */
/* **************************** */

.section-cta{
    padding: 4.8rem 0 12.8rem 0;
}

.cta{
    display: grid;
    overflow: hidden;
    grid-template-columns: 2fr 1fr;
    background-color: #e67e22;
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.15);
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-text-box{
    color: #45260a;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta .secondary-heading{
    color: #45260a;
    margin-bottom: 3.2rem;
}

.cta *:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select{
    font-size: 1.8rem;
    padding: 1.2rem;
    width: 100%;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 11px;
    background-color: #fdf2e9;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.cta-form input::placeholder{
    color: #aaa;
}

.btn-form{
    background-color: #45260a;
    align-self: end;
    color: #fdf2e9;
    padding: 1.2rem;
}

.btn-form:hover{
    color: #333;
    background-color: #fff;
}

.cta-img-box{
    background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)),url("img/eating.jpg");
    background-size: cover;
    background-position: center;
}

/* **************************** */
/* SECTION CTA */
/* **************************** */

.footer{
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.grid-footer{
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col{
    display: flex;
    flex-direction: column;
}

.footer-logo{
    display: block;
    margin-bottom: 3.2rem;
}

.social-link{
    list-style: none;
    display:flex;
    gap: 2.4rem;
}

.footer-heading{
    font-size: 1.8rem;
    margin-bottom: 4rem;
    font-weight: 500;
}

.contacts{
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.6;
}

.address{
    margin-bottom: 2.4rem;
}

.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited{
    color: #767676;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.3s;

}

.footer-link:hover,
.footer-link:active{
    color: #555;
}

.footer-link ion-icon{
    width: 2.4rem;
    height: 2.4rem;
}

.copyright{
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
}